<div class="app-banner">
    <div class= "container app-chat">
        <div class="app-chat__input">
            <input type="text" id="chat-box" placeholder="Say something">
        </div>
        <div class="app-chat__messages" id="messages-box">

            {{!-- <div class ="app-chat__messages-user">
                <p class="app-chat__messages-me-box--name">Jorge</p>
                <p class="app-chat__messages-me-box--text">Hola que tal</p>
            </div>

            <div class ="app-chat__messages-me">
                <p class="app-chat__messages-me-box--name">Juan</p>
                <p class="app-chat__messages-me-box--text">Bien y vos?</p>
            </div> --}}

        </div>
    </div>
</div>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/client.js"></script>